:root {
    @apply .light;
}

.dark {
    --color-bg-primary: #2d3748;
    --color-bg-secondary: #283141;
    --color-text-primary: #f7fafc;
    --color-text-secondary: #e2e8f0;
    --color-text-accent: #81e6d9;
}

.light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #edf2f7;
    --color-text-primary: #2d3748;
    --color-text-secondary: #4a5568;
    --color-text-accent: #2b6cb0;
}

@tailwind base;
@tailwind components;

.btn {
    @apply text-xs font-bold py-1 px-2 rounded;
}

.btn-secondary {
    @apply bg-secondary text-white;
}
.btn-secondary:hover {
    @apply bg-secondary
}

.contact-icon {
    @apply fill-current w-4 h-4 mr-4 text-secondary;
}

.contact-link {
    @apply text-sm;
}

.contact-link:hover {
    @apply text-secondary;
}

.section-header {
    @apply text-primary text-xl border-l-4 border-primary pl-3 font-bold;
}

.item-header {
    @apply text-xl font-bold tracking-tight leading-relaxed text-neutral-700;
}

.item-sub {
    @apply text-neutral-600 tracking-wide text-sm;
}

.tag {
    @apply px-2 py-1 mr-2 mb-2 bg-primary text-sm text-white inline-block capitalize font-light rounded;
}

.footer-social-link {
    @apply text-primary mr-4;
}

.footer-social-link:hover {
    @apply text-primary;
}

.footer-social-icon {
    @apply h-6 fill-current;
}

@tailwind utilities;
