@tailwind base;
@tailwind components;

.btn {
    @apply text-xs font-bold py-1 px-2 rounded;
}

.btn-secondary {
    @apply bg-secondary-500 text-white;
}
.btn-secondary:hover {
    @apply bg-secondary-700
}

.download-icon {
    @apply fill-current w-10 h-10 mr-2 text-secondary-500;
}

.contact-icon {
    @apply fill-current w-4 h-4 mr-2 text-secondary-500;
}

.contact-link {
    @apply text-sm;
}

.contact-link:hover {
    @apply text-secondary-500;
}

.section-header {
    @apply text-primary-700 pb-3 text-xl border-b-4 border-primary-700 font-bold leading-relaxed tracking-widest font-mono;
    max-width: 30px;
    text-transform: uppercase;
}

.item-header {
    @apply text-sm font-bold tracking-tight leading-relaxed text-primary-700 leading-relaxed tracking-widest font-mono;
    text-transform: uppercase;
}

.item-sub {
    @apply text-neutral-600 tracking-wide text-sm;
}

.tag {
    @apply px-2 py-1 mr-2 mb-2 bg-primary-500 text-xs text-white inline-block capitalize font-light rounded;
}

.footer-social-link {
    @apply text-primary-900 mr-4;
}

.footer-social-link:hover {
    @apply text-primary-500;
}

.footer-social-icon {
    @apply h-6 fill-current;
}

@screen md {
    .section-header {
        @apply text-2xl;
        max-width: 50px;
    }

    .item-header {
        @apply text-base;
    }

    .contact-icon {
        @apply fill-current w-4 h-4 mr-4;
    }

    .tag {
        @apply text-xs;
    }
}

@tailwind utilities;
